.hero {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("/assets/sfondo_legno.png"); // sfondo legno
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.left {
  position: relative;
  flex: 1;
  min-width: 50%;
}

.image {
  object-fit: contain;
  object-position: top left;
  z-index: 1;
  transform: scale(1.4); // 👈 aumenta la scala
  transform-origin: top left;
}



.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  color: white;
  z-index: 2;
}

.branding {
  display: flex;
  flex-direction: column; // 👈 imposta disposizione verticale
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.logoWrapper {
  width: 80px;
  height: 80px;
}

.logo {
  width: 100%;
  height: auto;
}

.brandText {
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.brandLine {
  font-size: 1rem;
  font-weight: 600;
}

.highlight {
  font-weight: 700;
  color: white;
}


.title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 1rem;

  strong {
    font-weight: 700;
    color: white;
  }

  &::after {
    content: "";
    display: block;
    margin-top: 1.5rem;
    width: 60px;
    height: 4px;
    background-color: #8B0000; // amaranto
    border-radius: 2px;
  }
}


