.hero {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("/assets/sfondo_legno.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.left {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1520px;
  height: 400px;
  z-index: 1;

  @media (max-width: 768px) {
    width: 280px;
    height: 280px;
    bottom: -10px;
  }
}

.image {
  object-fit: contain;
  object-position: center bottom;
  z-index: 1;
  //transform: scale(1.6);
  transform: scale(3.6);
  transform-origin: center;

  @media (max-width: 1340px) and (min-width: 1025px) {
    //transform: scale(1.55);
    transform: scale(3.55);
  }

  @media (max-width: 1024px) and (min-width: 891px) {
    //transform: scale(1.3);
    transform: scale(3.6);
  }

  @media (max-width: 890px) and (min-width: 769px) {
    //transform: scale(1.4);
    transform: scale(3.4);
  }

  @media (max-width: 768px) {
    //transform: scale(1.5);
    transform: scale(2.3);
  }
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  text-align: center;
  padding: 0 2rem;
  position: relative;
  top: -260px;
  

  @media (max-width: 1340px) and (min-width: 1025px) {
    //margin-left: 80px;
  }

  @media (max-width: 1024px) and (min-width: 891px) {
    //margin-left: 100px;
  }

  @media (max-width: 890px) and (min-width: 769px) {
    //margin-left: 120px;
  }

  @media (max-width: 768px) {
    padding: 1rem 1rem;
    top: 0.2px;
    text-align: center;
    align-items: center;
    margin-left: 0;
    margin-bottom: 155px;
  }
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  margin-bottom: 0.1rem;

  @media (max-width: 768px) {
    align-items: center;
    margin-bottom: 3.5rem;
  }
}

.logoWrapper {
  width: 500px;
  height: 440px;

  @media (max-width: 768px) {
    width: 180px;
    height: 140px;
  }
}

.logo {
  width: 100%;
  height: auto;
}

.brandText {
  font-weight: 00;
  font-size: 0.1rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  //margin-top: -11px;
  margin-bottom: 5px;
  
}

.brandLine {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

.rCircle {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.1em 0.4em;
  font-size: 0.85em;
  vertical-align: middle;
  margin-right: 0.15em;
}

.highlight {
  margin-left: 5px;
  font-weight: 700;
  color: white;
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 1rem;

  strong {
    font-weight: 700;
    color: white;
  }

  &::after {
    content: "";
    display: block;
    margin-top: 1.5rem;
    width: 60px;
    height: 4px;
    background-color: #B33340;
    border-radius: 2px;
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

@media (max-width: 643px) {
  .title::after {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 868px) {
  .title::after {
    margin-left: auto;
    margin-right: auto;
  }
}
