.section {
  position: relative;
  background-color: white;
  padding: 5rem 1rem;
  overflow: hidden;
}

.backgroundRight {
  position: absolute;
  top: 10%;
  right: 13%;
  height: 85%;
  width: 32%;
  background-color: #B33340;
  border-radius: 1.5rem;
  z-index: 0;


  @media (max-width: 1024px) {
    display: none;
    border-radius: 1rem;
  }

  @media (max-width: 768px) {
    display: none;
    border-radius: 1rem;
  }
}


.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  min-height: 720px;
  margin: 0 auto;
  gap: 4rem;
  padding: 0 2rem;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.right {
  flex: 1;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.image {
  max-height: 580px;
  border-radius: 1rem;
  object-fit: cover;
  z-index: 2;
  filter: drop-shadow(-20px 0 25px rgba(0, 0, 0, 0.2));
  width: 100%;
  height: auto;

  @media (max-width: 768px) {
    height: auto;
    width: 100%;
    max-height: unset;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #B33340;
  margin-bottom: 0.5rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #222;
  margin-bottom: 2rem;
  max-width: 85%;
  line-height: 1.6;

  @media (max-width: 768px) {
    font-size: 1.1rem;
  }
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  background: #fff;
  padding: 1rem 1.5rem;
  border-top-right-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;

  @media (max-width: 768px) {
    flex-direction: row;
    padding: 1rem;
  }
}

.iconWrapper {
  background-color: #B33340;
  color: white;
  border-radius: 50%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.cardTitle {
  font-weight: 700;
  color: #B33340;
  margin-bottom: 0.25rem;
}

.cardText {
  color: #333;
  font-size: 1rem;
}

