.section {
    position: relative;
    padding: 5rem 2rem;
    color: #2e2e2e;
  
   
    background-image:
    linear-gradient(
      to right,
      white 0%,
      white 20%,
      rgba(255, 255, 255, 0.85) 65%,
      rgba(255, 255, 255, 0.3) 85%,
      transparent 100%
    ),
    url("/assets/product.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
    align-items: flex-start;
  }
  
  .left {
    flex: 1;
    color: #2e2e2e;
  }
  
  .title {
    color: #B33340;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }
  
  .features {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }
  
  .item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  
    h3 {
      font-weight: 700;
      font-size: 1rem;
      margin: 0;
    }
  
    p {
      font-size: 0.95rem;
      margin-top: 0.25rem;
    }
  
    strong {
      font-weight: 700;
    }
  }
  
  .icon {
    width: 28px;
    height: 28px;
    color: #B33340;
    flex-shrink: 0;
  }
  
  .availability,
  .prepare {
    margin-top: 2rem;
  
    h4 {
      color: #B33340;
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 1rem;
      margin: 0.25rem 0;
    }
  }
  
  .right {
    display: none; 
  }
  
  